---

title: "Members"
permalink: /members/

---

{% include base_path %}

<h2>                                           </h2>
<h2><a id="Current members"></a>Current Members</h2>
<h2>                                           </h2>

<div class="container">
 <div class="row align-items-center mb-4">
    <div class="col-md-4">
      <img src="http://wchoEvo.github.io/images/members/who.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 150px;">  
    </div>
    <div class="col-md-8">
      <p class="card-text">Dr. Wei-Chin Ho</p>
      <p class="card-text"><em>Principal Investigator</em></p>
      <p class="card-text"><a href="http://wchoEvo.github.io/files/weichinho_cv.pdf"><u>Download CV</u></a></p>
     <p class="card-text">         </p>    
    </div>
  </div>
</div>


<div class="card border-primary -4">
  <div class="row g-0">
  <div class="col-md-4">
   <img src="http://wchoEvo.github.io/images/bio-photo.jpg"
       class="img-fluid img-thumbnail"
       style="max-width: 150px;">  
  </div>
     <div class="col-md-8">
        <div class="card-body">
        <h3 class="card-title">You</h3>
        <h3 class="card-title"><em></em></h3>
        </div>
     </div>
 </div>
</div>


{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}
