---

title: "Members"
permalink: /members/

---

{% include base_path %}

<h2>Current Members</h2>

<img src="http://wchoEvo.github.io/images/members/kamoateng.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Kingsley Kwaku Amoateng<br /><em>MS Student</em></p>
<p ></p>

<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/cbuford.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Christian Buford<br /><em>Undergraduate Researcher</em></p>
<p ></p>

<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/pgarcia.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Pricila Garcia<br /><em>Undergraduate Researcher</em></p>
<p ></p>

<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/who.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Dr. Wei-Chin Ho<br /><em>Principal Investigator</em></p>
<p ><a href="http://wchoEvo.github.io/files/weichinho_cv.pdf"><u>Download CV</u></a></p>
    
<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/jramirez.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Julian Ramirez<br /><em>Undergraduate Researcher</em></p>
<p ></p>

<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/borji.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Brent Orji<br /><em>Undergraduate Researcher</em></p>
<p ></p>

<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/averma.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Avnoor Verma<br /><em>Undergraduate Researcher</em></p>
<p ></p>

<hr width="100%" size="10">

<img src="http://wchoEvo.github.io/images/members/nzarate.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Natalie Zarate<br /><em>Undergraduate Researcher</em></p>
<p ></p>

<hr width="100%" size="10">

<h2>Alumni</h2>

<img src="http://wchoEvo.github.io/images/members/imendez.jpg"
       class="img-fluid img-thumbnail"
        style="max-width: 200px;"> 
<p>Ivan Mendez<br /><em>Undergraduate Researcher (LSAMP)</em></p>
<p ></p>

<hr width="100%" size="10">
{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}
