---

title: "Photos"
permalink: /photos/

---

{% include base_path %}

<div class="card-row" style="gap: 10px;">
  <div class="card" style="width: 20rem;">
    <img src="https://wchoEvo.github.io/images/20250411_lyseum_1.jpeg" class="card-img-top" alt="...">
  </div>
  <div class="card" style="width: 20rem;">
    <img src="https://wchoEvo.github.io/images/20250411_lyseum_2.jpeg" class="card-img-top" alt="...">
  </div>
  <div class="card" style="width: 20rem;">
    <img src="https://wchoEvo.github.io/images/20250411_lyseum_3.png" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <p class="card-text">Lyseum Symposium (2025-04-11)</p>
  </div>
</div>


<div class="card" style="width: 20rem;">
  <img src="https://wchoEvo.github.io/images/20240829_lab.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lab meeting (2024-08-29)</p>
  </div>
</div>

<div class="card" style="width: 20rem;">
  <img src="https://wchoEvo.github.io/images/20240703_lab.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Autoclave training (2024-07-03)</p>
  </div>
</div>
{% for post in site.research %}
  {% include archive-single.html %}
{% endfor %}
